In [17]:
import pandas as pd

In [18]:
df_arbres=pd.read_csv('./data_arbres.csv')

In [19]:
df_arbres.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31852 entries, 0 to 31851
Data columns (total 32 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ELEM_POINT_ID          31852 non-null  int64
 1   CODE                   31852 non-null  object
 2   NOM                    31852 non-null  object
 3   GENRE                  31852 non-null  object
 4   GENRE_DESC             31852 non-null  object
 5   CATEGORIE              31852 non-null  object
 6   CATEGORIE_DESC         31852 non-null  object
 7   SOUS_CATEGORIE         31852 non-null  object
 8   SOUS_CATEGORIE_DESC    31852 non-null  object
 9   CODE_PARENT            31852 non-null  object
 10  CODE_PARENT_DESC       31852 non-null  object
 11  ADR_SECTEUR            31852 non-null  int64
 12  BIEN_REFERENCE         31852 non-null  object
 13  GENRE_BOTA             31431 non-null  object
 14  ESPECE                 29672 non-null  object
 15  VARIETE                4184 non-null   object
 16  STADEDEDEVELOPPEMENT   29192 non-null  object
 17  EQUIPE                 0 non-null      float64
 18  REMARQUES              1501 non-null   object
 19  ANNEEDEPLANTATION      30737 non-null  float64
 20  RAISONDEPLANTATION     2728 non-null   object
 21  TRAITEMENTCHENILLES    2225 non-null   object
 22  COURRIER               0 non-null      float64
 23  IDENTIFIANTPLU         604 non-null    float64
 24  TYPEIMPLANTATIONPLU    604 non-null    object
 25  INTITULEPROTECTIONPLU  604 non-null    object
 26  ANNEEABATTAGE          0 non-null      float64
 27  ESSOUCHEMENT           0 non-null      float64
 28  DIAMETREARBRE          0 non-null      float64
 29  CAUSEABATTAGE          0 non-null      float64
 30  COLLECTIVITE           31104 non-null  object
 31  GeoJSON                31852 non-null  object
dtypes: float64(8), int64(2), object(22)
memory usage: 7.8+ MB

In [22]:
# on supprime les lignes du df où l'année de plantation n'est pas renseignée
df_arbres.dropna(subset=['ANNEEDEPLANTATION'],axis=0, inplace=True)
df_arbres.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30737 entries, 0 to 31851
Data columns (total 32 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ELEM_POINT_ID          30737 non-null  int64
 1   CODE                   30737 non-null  object
 2   NOM                    30737 non-null  object
 3   GENRE                  30737 non-null  object
 4   GENRE_DESC             30737 non-null  object
 5   CATEGORIE              30737 non-null  object
 6   CATEGORIE_DESC         30737 non-null  object
 7   SOUS_CATEGORIE         30737 non-null  object
 8   SOUS_CATEGORIE_DESC    30737 non-null  object
 9   CODE_PARENT            30737 non-null  object
 10  CODE_PARENT_DESC       30737 non-null  object
 11  ADR_SECTEUR            30737 non-null  int64
 12  BIEN_REFERENCE         30737 non-null  object
 13  GENRE_BOTA             30700 non-null  object
 14  ESPECE                 29109 non-null  object
 15  VARIETE                4137 non-null   object
 16  STADEDEDEVELOPPEMENT   29105 non-null  object
 17  EQUIPE                 0 non-null      float64
 18  REMARQUES              1500 non-null   object
 19  ANNEEDEPLANTATION      30737 non-null  float64
 20  RAISONDEPLANTATION     2706 non-null   object
 21  TRAITEMENTCHENILLES    2225 non-null   object
 22  COURRIER               0 non-null      float64
 23  IDENTIFIANTPLU         604 non-null    float64
 24  TYPEIMPLANTATIONPLU    604 non-null    object
 25  INTITULEPROTECTIONPLU  604 non-null    object
 26  ANNEEABATTAGE          0 non-null      float64
 27  ESSOUCHEMENT           0 non-null      float64
 28  DIAMETREARBRE          0 non-null      float64
 29  CAUSEABATTAGE          0 non-null      float64
 30  COLLECTIVITE           30737 non-null  object
 31  GeoJSON                30737 non-null  object
dtypes: float64(8), int64(2), object(22)
memory usage: 7.7+ MB

In [50]:
# on cherche à convertir GeoJSON en valeur numérique
df_arbres.GeoJSON[0][30:-1]

'[5.71629235456888,45.1962643686965]'

In [3]:
# Après avoir dropna sur année de plantation et convertit GeoJSON en valeur numérique, on split les données
from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(df_arbres, test_size=0.2, random_state=42)

In [10]:
train_set.drop(['NOM','GENRE','CATEGORIE','SOUS_CATEGORIE','CODE_PARENT'],axis=1,inplace=True)

C:\Users\Rubal\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [11]:
train_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22232 entries, 9621 to 15795
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ELEM_POINT_ID         22232 non-null  int64
 1   CODE                  22232 non-null  object
 2   GENRE_DESC            22232 non-null  object
 3   CATEGORIE_DESC        22232 non-null  object
 4   SOUS_CATEGORIE_DESC   22232 non-null  object
 5   CODE_PARENT_DESC      22232 non-null  object
 6   ADR_SECTEUR           22232 non-null  int64
 7   BIEN_REFERENCE        22232 non-null  object
 8   GENRE_BOTA            22232 non-null  object
 9   ESPECE                22232 non-null  object
 10  STADEDEDEVELOPPEMENT  22232 non-null  object
 11  ANNEEDEPLANTATION     22232 non-null  float64
 12  COLLECTIVITE          22232 non-null  object
 13  GeoJSON               22232 non-null  object
dtypes: float64(1), int64(2), object(11)
memory usage: 2.5+ MB

In [6]:
# on supprime les colonnes où il y a moins de 23000 valeurs non-nulles
# train_set.drop(['VARIETE', 'EQUIPE','REMARQUES','RAISONDEPLANTATION','TRAITEMENTCHENILLES','COURRIER','IDENTIFIANTPLU','INTITULEPROTECTIONPLU','TYPEIMPLANTATIONPLU','ANNEEABATTAGE','ESSOUCHEMENT',"DIAMETREARBRE",'CAUSEABATTAGE'],axis=1,inplace=True)

C:\Users\Rubal\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [63]:
# on enlève la variable qu'on va faire chercher à deviner par l'algorithme
df_anneedeplantation = df_arbres.pop("ANNEEDEPLANTATION")

In [66]:
# pour transformer les variables qualitatives en variables quantitatives
from sklearn.preprocessing import OrdinalEncoder
ordinal_encoder = OrdinalEncoder()
df_encoded = ordinal_encoder.fit_transform(df_arbres)
df_encoded[:5]

array([[2.1707e+04, 1.6275e+04, 0.0000e+00, 0.0000e+00, 2.0000e+00,
        5.1800e+02, 1.0000e+00, 1.6275e+04, 8.0000e+01, 2.0000e+00,
        0.0000e+00, 1.0000e+00, 6.4780e+03],
       [9.7560e+03, 1.6065e+04, 0.0000e+00, 0.0000e+00, 2.0000e+00,
        5.1800e+02, 1.0000e+00, 1.6065e+04, 8.0000e+01, 2.0000e+00,
        2.0000e+00, 0.0000e+00, 6.5800e+03],
       [9.7530e+03, 1.6064e+04, 0.0000e+00, 0.0000e+00, 2.0000e+00,
        5.1800e+02, 1.0000e+00, 1.6064e+04, 8.0000e+01, 2.0000e+00,
        2.0000e+00, 1.0000e+00, 6.4690e+03],
       [1.8723e+04, 1.6003e+04, 0.0000e+00, 0.0000e+00, 2.0000e+00,
        5.1800e+02, 1.0000e+00, 1.6003e+04, 8.0000e+01, 2.0000e+00,
        0.0000e+00, 1.0000e+00, 6.5050e+03],
       [1.2748e+04, 1.5566e+04, 0.0000e+00, 0.0000e+00, 2.0000e+00,
        5.1800e+02, 1.0000e+00, 1.5566e+04, 8.0000e+01, 2.0000e+00,
        2.0000e+00, 1.0000e+00, 6.4040e+03]])

In [67]:
ordinal_encoder.categories_
# on voit les catégories distinguées pour chaque colonne. Certaines colonnes ont qu'une seule catégorie:
# GENRE_DESC et CATEGORIE_DESC

[array([    1,     2,     3, ..., 42922, 42923, 42941], dtype=int64),
 array(['ESP10000', 'ESP10001', 'ESP10002', ..., 'ESP9997', 'ESP9998',
        'ESP9999'], dtype=object),
 array(['VEGETATION'], dtype=object),
 array(['Arbre'], dtype=object),
 array(["Arbre d'enceintes fermées", "Arbre d'espaces ouverts",
        'Arbre de voirie', 'Bois semi naturel'], dtype=object),
 array(['A A Lorraine Jaures à la Gare', 'A A Lorraine la Gare à Jaures',
        'A DL Weill Arménie à Esclangon', ...,
        'Voie E O Stalingrad Berthelot', 'Voie E O cote voie ferree',
        'Voie E O zone éduc routière'], dtype=object),
 array([1, 2, 3, 4, 5, 6], dtype=int64),
 array(['AR10000', 'AR10001', 'AR10002', ..., 'AR9997', 'AR9998', 'AR9999'],
       dtype=object),
 array(['Abies', 'Acer', 'Aesculus', 'Ailanthus', 'Albizia', 'Alnus',
        'Amélanchier', 'Araucaria', 'Betula', 'Broussonetia', 'Buxus',
        'Calocedrus', 'Carpinus', 'Castanea', 'Catalpa', 'Cedrela',
        'Cedrus', 'Celtis', 'Cephalotaxus', 'Cercidiphyllum', 'Cercis',
        'Chamaecyparis', 'Chimonanthus', 'Chionanthus', 'Chitalpa',
        'Cladastris', 'Clerodendron', 'Cornus', 'Corylus', 'Cotinus',
        'Crataegus', 'Cryptomeria', 'Cupressocyparis', 'Cupressus',
        'Cydonia', 'Davidia', 'Diospyros', 'Eleagnus', 'Eriobotrya ',
        'Eucalyptus', 'Euodia', 'Fagus', 'Ficus', 'Fontanesia', 'Fraxinus',
        'Ginkgo', 'Gleditsia', 'Gymnocladus', 'Halesia', 'Hovenia',
        'Idesia', 'Ilex', 'Juglans', 'Juniperus', 'Koelreuteria',
        'Laburnum', 'Lagerstroemia', 'Larix', 'Libocedrus', 'Ligustrum',
        'Liquidambar', 'Liriodendron', 'Lonicera', 'Maclura', 'Magnolia',
        'Malus', 'Mespilus', 'Metasequoia', 'Morus', 'Nyssa', 'Olea',
        'Ostrya', 'Parrotia', 'Paulownia', 'Phellodendron', 'Phillyrea',
        'Photinia', 'Picea', 'Pinus', 'Pistacia', 'Platanus', 'Populus',
        'Prunus', 'Pseudotsuga', 'Ptelea', 'Pterocarya', 'Pteroceltis',
        'Pterostyrax', 'Punica', 'Pyrus', 'Quercus', 'Rhamnus', 'Rhus',
        'Robinia', 'Salix', 'Sambucus', 'Sciadopitys', 'Sequoia',
        'Sequoiadendron', 'Sophora', 'Sorbopyrus', 'Sorbus', 'Staphylea',
        'Sterculia', 'Styrax', 'Syringa', 'Taxodium', 'Taxus', 'Tetradium',
        'Thuja', 'Tilia', 'Trachycarpus', 'Ulmus', 'Zelkova'], dtype=object),
 array(['abies', 'accolade', 'acerifolia', 'acutissima', 'alaternus',
        'alba', 'alnifolia', 'altissima', 'americana', 'amurense',
        'amygdaliformis', 'amygdalus', 'anagyroides', 'angustifolia',
        'aquifolium', 'araucana', 'aria', 'arizonica', 'armeniaca',
        'atlantica', 'aucuparia', 'auricularis', 'australis', 'avellana',
        'avium', 'babylonica', 'baccata', 'betulus', 'bicolor',
        'bignonoides', 'biloba', 'bombycis', 'buergerianum', 'bumalda',
        'calleryana', 'campanulata', 'campestre', 'campestris',
        'canadensis', 'cappadocicum', 'caprea', 'carica', 'carnea',
        'carolina', 'carpinifolia', 'castaneifolia', 'cerasifera',
        'cerasus', 'cerris', 'chamaemespilus', 'chandelle seche',
        'chinensis', 'coccinea', 'coggygria', 'colurna', 'communis',
        'concolor', 'controversa', 'cordata', 'crenata', 'crus-galli',
        'cuspidata', 'daniellii', 'davidii', 'decidua', 'decurrens',
        'deodara', 'dioicus', 'distychum', 'domestica', 'drupacea',
        'dulcis', 'euchlora', 'europaea', 'excelsior', 'falcata',
        'floribunda', 'florida', 'foetida', 'formosensis', 'fortunei',
        'fragmantissima', 'frainetto', 'fraxinifolia', 'freemanii',
        'germanica', 'giganteum', 'ginnala', 'glabra', 'glutinosa',
        'glyptostroboides', 'granatum', 'grandiflora', 'griseum', 'gunii',
        'harringtonia', 'heldreichii', 'henryana', 'heptapeta',
        'hippocastanum', 'hispanica', 'hispida', 'hupehensis', 'hybride',
        'ilex', 'imbricaria', 'incana', 'incisa', 'indica', 'involucrata',
        'ioenis', 'japonica', 'japonicum', 'julianae', 'julibrissin',
        'kaki', 'kiusiana', 'kobus', 'laevigata', 'laevis', 'lamarckii',
        'latifolia', 'laurocerasus', 'lavallei', 'lawsoniana', 'leylandii',
        'libani', 'lotus', 'lusitanica', 'lutea', 'macrocarpa',
        'mandshurica', 'mariesii', 'mas', 'matsudana', 'menziesii',
        'minor', 'mongolica', 'monogyna', 'monspessulanum', 'monticola',
        'mugo', 'myrsinifolia', 'negundo', 'nigra', 'nikoense', 'nivalis',
        'nootkatensis', 'nordmanniana', 'oblonga', 'occidentalis',
        'omorika', 'opalus', 'orientalis', 'ornus', 'ovalis', 'oxyacantha',
        'oxycarpa', 'padus', 'palmatum', 'palustris', 'paniculata',
        'papyrifera', 'parviflora', 'parvifolia', 'pavia', 'pendula',
        'pennsylvanica', 'pensylvanicum', 'perpetu', 'persica', 'petraea',
        'phellos', 'phillyreoides', 'pinea', 'pinsapo', 'pisifera',
        'platanoides', 'platanor', 'platyphyllos', 'plicata', 'polycarpa',
        'pomifera', 'praecox', 'pseudoacacia', 'pseudoplatanus', 'pungens',
        'purpurea', 'pyrifolia', 'quadrangulata', 'regia', 'resista',
        'reticulata', 'retusus', 'robur', 'rosmarinifolia', 'rubra',
        'rubrum', 'rysophylla', 'saccharinum', 'salicifolia', 'sativa',
        'sempervirens', 'sepulcralis', 'serotina', 'serrata', 'serrulata',
        'sieboldiana', 'sieboldii', 'siliquastrum', 'simonii', 'sinense',
        'sinensis', 'soulangeana', 'spaethii', 'spectabilis', 'spinosa',
        'stellata', 'stenoptera', 'strobus', 'styraciflua', 'suber',
        'subhirtella', 'sylvatica', 'sylvestris', 'tartaricum',
        'tashkentensis', 'tatarinowii', 'thuringiaca', 'tomentosa',
        'torminalis', 'tremula', 'triacanthos', 'triandra', 'tricotonum',
        'trifoliata', 'tschonoskii', 'tulipifera', 'turneri', 'typhina',
        'utilis', 'variabilis', 'velutina', 'verrucosa', 'verticillata',
        'villosa', 'viminalis', 'virginiana', 'virginicus', 'vulgaris',
        'wallichiana', 'yedoensis', 'zoeschense'], dtype=object),
 array(['Arbre adulte', 'Arbre jeune', 'Arbre vieillissant'], dtype=object),
 array(['Grenoble Alpes Métropole', 'Ville de Grenoble'], dtype=object),
 array(['{"type":"Point","coordinates":[5.69791504775311,45.2044109432404]}',
        '{"type":"Point","coordinates":[5.69799940584727,45.204466652034]}',
        '{"type":"Point","coordinates":[5.69801685817468,45.2070230539992]}',
        ...,
        '{"type":"Point","coordinates":[5.7984581096628,45.224071981731]}',
        '{"type":"Point","coordinates":[5.79851176155483,45.2245090745087]}',
        '{"type":"Point","coordinates":[5.79870388208095,45.2241899631039]}'],
       dtype=object)]

In [68]:
df_arbres.drop(['GENRE_DESC','CATEGORIE_DESC'],axis=1,inplace=True)

In [50]:
# on fait un pickle pour stocker notre df
import pickle
filename='data_df_arbre.pkl'
df_arbres.to_pickle("Pickle_arbre.pkl")

In [51]:
# pour lire le pickle
df = pd.read_pickle("Pickle_arbre.pkl")