In [1]:
import pandas as pd

In [2]:
df_arbres=pd.read_csv('./data_arbres.csv')

In [3]:
# EXPLORATION DES DONNEES

df_arbres.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31852 entries, 0 to 31851
Data columns (total 32 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ELEM_POINT_ID          31852 non-null  int64
 1   CODE                   31852 non-null  object
 2   NOM                    31852 non-null  object
 3   GENRE                  31852 non-null  object
 4   GENRE_DESC             31852 non-null  object
 5   CATEGORIE              31852 non-null  object
 6   CATEGORIE_DESC         31852 non-null  object
 7   SOUS_CATEGORIE         31852 non-null  object
 8   SOUS_CATEGORIE_DESC    31852 non-null  object
 9   CODE_PARENT            31852 non-null  object
 10  CODE_PARENT_DESC       31852 non-null  object
 11  ADR_SECTEUR            31852 non-null  int64
 12  BIEN_REFERENCE         31852 non-null  object
 13  GENRE_BOTA             31431 non-null  object
 14  ESPECE                 29672 non-null  object
 15  VARIETE                4184 non-null   object
 16  STADEDEDEVELOPPEMENT   29192 non-null  object
 17  EQUIPE                 0 non-null      float64
 18  REMARQUES              1501 non-null   object
 19  ANNEEDEPLANTATION      30737 non-null  float64
 20  RAISONDEPLANTATION     2728 non-null   object
 21  TRAITEMENTCHENILLES    2225 non-null   object
 22  COURRIER               0 non-null      float64
 23  IDENTIFIANTPLU         604 non-null    float64
 24  TYPEIMPLANTATIONPLU    604 non-null    object
 25  INTITULEPROTECTIONPLU  604 non-null    object
 26  ANNEEABATTAGE          0 non-null      float64
 27  ESSOUCHEMENT           0 non-null      float64
 28  DIAMETREARBRE          0 non-null      float64
 29  CAUSEABATTAGE          0 non-null      float64
 30  COLLECTIVITE           31104 non-null  object
 31  GeoJSON                31852 non-null  object
dtypes: float64(8), int64(2), object(22)
memory usage: 7.8+ MB

In [4]:
# on supprime les lignes du df où l'année de plantation n'est pas renseignée
df_arbres.dropna(subset=['ANNEEDEPLANTATION'],axis=0, inplace=True)
df_arbres.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30737 entries, 0 to 31851
Data columns (total 32 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ELEM_POINT_ID          30737 non-null  int64
 1   CODE                   30737 non-null  object
 2   NOM                    30737 non-null  object
 3   GENRE                  30737 non-null  object
 4   GENRE_DESC             30737 non-null  object
 5   CATEGORIE              30737 non-null  object
 6   CATEGORIE_DESC         30737 non-null  object
 7   SOUS_CATEGORIE         30737 non-null  object
 8   SOUS_CATEGORIE_DESC    30737 non-null  object
 9   CODE_PARENT            30737 non-null  object
 10  CODE_PARENT_DESC       30737 non-null  object
 11  ADR_SECTEUR            30737 non-null  int64
 12  BIEN_REFERENCE         30737 non-null  object
 13  GENRE_BOTA             30700 non-null  object
 14  ESPECE                 29109 non-null  object
 15  VARIETE                4137 non-null   object
 16  STADEDEDEVELOPPEMENT   29105 non-null  object
 17  EQUIPE                 0 non-null      float64
 18  REMARQUES              1500 non-null   object
 19  ANNEEDEPLANTATION      30737 non-null  float64
 20  RAISONDEPLANTATION     2706 non-null   object
 21  TRAITEMENTCHENILLES    2225 non-null   object
 22  COURRIER               0 non-null      float64
 23  IDENTIFIANTPLU         604 non-null    float64
 24  TYPEIMPLANTATIONPLU    604 non-null    object
 25  INTITULEPROTECTIONPLU  604 non-null    object
 26  ANNEEABATTAGE          0 non-null      float64
 27  ESSOUCHEMENT           0 non-null      float64
 28  DIAMETREARBRE          0 non-null      float64
 29  CAUSEABATTAGE          0 non-null      float64
 30  COLLECTIVITE           30737 non-null  object
 31  GeoJSON                30737 non-null  object
dtypes: float64(8), int64(2), object(22)
memory usage: 7.7+ MB

In [5]:
# on cherche à convertir GeoJSON en valeur numérique pour éventuellement s'en servir plus tard
print(df_arbres.GeoJSON[0][30:-1])
print(df_arbres.GeoJSON[0])

[5.71629235456888,45.1962643686965]
{"type":"Point","coordinates":[5.71629235456888,45.1962643686965]}

In [7]:
import json
GEO = df_arbres["GeoJSON"].map(json.loads).apply(pd.Series)
df_arbres_clean = df_arbres.assign(latitude=[i[1] for i in GEO.coordinates.to_list()])
df_arbres_clean = df_arbres_clean.assign(longitude=[i[0] for i in GEO.coordinates.to_list()])
df_arbres_clean.drop(['GeoJSON'],axis=1, inplace=True)

In [8]:
# on enlève les catégories doublons
df_arbres_clean.drop(['NOM','GENRE','CATEGORIE','SOUS_CATEGORIE','CODE_PARENT'],axis=1,inplace=True)

In [9]:
# on enlève les colonnes où il n'y a qu'une seule valeur, elles n'apportent pas d'info
df_arbres_clean.drop(['GENRE_DESC','CATEGORIE_DESC'],axis=1,inplace=True)

In [11]:
# Après avoir clean le dataset, on split les données
from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(df_arbres_clean, test_size=0.2, random_state=42)

In [12]:
train_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24589 entries, 15307 to 24470
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ELEM_POINT_ID          24589 non-null  int64
 1   CODE                   24589 non-null  object
 2   SOUS_CATEGORIE_DESC    24589 non-null  object
 3   CODE_PARENT_DESC       24589 non-null  object
 4   ADR_SECTEUR            24589 non-null  int64
 5   BIEN_REFERENCE         24589 non-null  object
 6   GENRE_BOTA             24558 non-null  object
 7   ESPECE                 23288 non-null  object
 8   VARIETE                3316 non-null   object
 9   STADEDEDEVELOPPEMENT   23242 non-null  object
 10  EQUIPE                 0 non-null      float64
 11  REMARQUES              1226 non-null   object
 12  ANNEEDEPLANTATION      24589 non-null  float64
 13  RAISONDEPLANTATION     2215 non-null   object
 14  TRAITEMENTCHENILLES    1764 non-null   object
 15  COURRIER               0 non-null      float64
 16  IDENTIFIANTPLU         461 non-null    float64
 17  TYPEIMPLANTATIONPLU    461 non-null    object
 18  INTITULEPROTECTIONPLU  461 non-null    object
 19  ANNEEABATTAGE          0 non-null      float64
 20  ESSOUCHEMENT           0 non-null      float64
 21  DIAMETREARBRE          0 non-null      float64
 22  CAUSEABATTAGE          0 non-null      float64
 23  COLLECTIVITE           24589 non-null  object
 24  latitude               24589 non-null  float64
 25  longitude              24589 non-null  float64
dtypes: float64(10), int64(2), object(14)
memory usage: 5.1+ MB

In [13]:
# on fait un pickle pour stocker notre df
import pickle
filename='data_df_arbre.pkl'
df_arbres.to_pickle("Pickle_arbre.pkl")

In [14]:
# pour lire le pickle
df = pd.read_pickle("Pickle_arbre.pkl")